<div class="container-fluid jkb-form position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h2>BERSAMA KITA BISA MEMBUAT PERUBAHAN</h2>
        <p>Bergabung sekarang untuk mendapatkan informasi terbaru seputar kampanye lingkungan.</p>
        
        <form method="post" class="d-none">
          <div class="row form-group">
            <div class="col-12">
              <input type="text" class="form-control" placeholder="E-Mail" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12 col-lg-6 mb-3">
              <input type="text" class="form-control" placeholder="Nama Depan" />
            </div>
            <div class="col-12 col-lg-6">
              <input type="text" class="form-control" placeholder="Nama Belakang" />
            </div>
          </div>
          <div class="wp-block-button is-style-cta btn__join"><a class="wp-block-button__link">GABUNG SEKARANG</a></div>
        </form>
      </div>
    </div>
  </div>
  <div class="bg__form">
    <img src="{{ bg_form }}" class="img-fluid" alt="bg Form" />
  </div>
</div>